
<h2 mat-dialog-title>{{ item.title }}</h2>
<mat-dialog-content class="mat-typography">

    <div class="flex flex-col w-full filter-article">
        <img
                class="object-cover"
                src="{{item.images.fixed_width_downsampled.url}}"
                alt="Card cover image">
        <hr class="w-full border-t my-6">
        <div class="flex flex-col">
            <div class="flex items-center">
                <mat-icon
                        class="icon-size-5 mr-3"
                        >person</mat-icon>
                <span class="leading-none">{{ item.username }}</span>
            </div>
            <div class="flex items-center mt-4">
                <mat-icon
                        class="icon-size-5 mr-3"
                        >calendar_today</mat-icon>
                <span class="leading-none">{{ item.import_datetime | date}}</span>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions class="justify-between">

    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
    <button mat-button (click)="toggleFavorite()">
        <mat-icon *ngIf="favorite">favorite</mat-icon>
        <mat-icon *ngIf="!favorite">favorite_border</mat-icon>
    </button>
</mat-dialog-actions>
