<div  id="{{item.id}}"
        class="flex flex-col shadow rounded-2xl overflow-hidden cursor-pointer bg-card {{skeletonColor}}"
        [ngStyle]="{'height': actualHeight ? actualHeight + 'px' : 'auto'}"
        (click)="showDetail()"
        >
    <ng-container *ngIf="item">
        <img    #img
                class="w-full object-cover"
        >
    </ng-container>
</div>
