<div class="h-full overflow-auto" cdkScrollable>

    <mat-toolbar color="primary">
        <span>Giphy Client</span>

        <span class="toolbar-spacer"></span>

        <button mat-icon-button [routerLink]="['']">
            <mat-icon>home</mat-icon>
        </button>

    </mat-toolbar>



    <!-- Items -->
    <ng-container *ngIf="items; else noItems">
        <ng-container *ngIf="items.length; else noItems">

            <!-- Masonry layout -->
            <app-masonry
                    class="-mx-2 mt-8"
                    [items]="items"
                    [columns]="masonryColumns"
                    [columnsTemplate]="columnsTemplate">
                <!-- Columns template -->
                <ng-template
                    #columnsTemplate
                    let-columns>
                    <!-- Columns -->
                    <ng-container *ngFor="let column of columns; trackBy: trackByFnColumn">
                        <!-- Column -->
                        <div class="flex-1 px-2 space-y-4">
                            <ng-container *ngFor="let item of column.items; trackBy: trackByFnItem">

                                <app-item class="flex flex-col shadow rounded-2xl overflow-hidden cursor-pointer bg-card" [item]="item.data"></app-item>

                            </ng-container>
                        </div>
                    </ng-container>
                </ng-template>
            </app-masonry>

        </ng-container>
    </ng-container>

    <!-- Loading template -->
    <ng-template #noItems>
        <div class="flex flex-auto flex-col items-center justify-center mt-4">
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No Favorites found</div>
        </div>
    </ng-template>

</div>
<!--</div>-->
