
<div class="h-full overflow-auto" cdkScrollable>

    <mat-toolbar color="primary">

        <span>Giphy Client</span>

        <span class="toolbar-spacer"></span>

        <mat-form-field>
          <input class="border-none text-white"
                 matInput
                 (input)="filterByQuery(searchInput.value)"
                 #searchInput
          >
            </mat-form-field>
        <mat-icon matSuffix>search</mat-icon>
        <button mat-icon-button [routerLink]="['favorites']">
            <mat-icon>favorite</mat-icon>
        </button>
    </mat-toolbar>



    <!-- Items -->
    <ng-container *ngIf="items">
        <ng-container *ngIf="items.length">

            <!-- Masonry layout -->
            <app-masonry
                    class="-mx-2 mt-8"
                    [items]="items"
                    [columns]="masonryColumns"
                    [columnsTemplate]="columnsTemplate">
                <!-- Columns template -->
                <ng-template
                    #columnsTemplate
                    let-columns>
                    <!-- Columns -->
                    <ng-container *ngFor="let column of columns; trackBy: trackByFnColumn">
                        <!-- Column -->
                        <div class="flex-1 px-2 space-y-4">
                            <ng-container *ngFor="let item of column.items; trackBy: trackByFnItem">

                                <app-item class="flex flex-col shadow rounded-2xl overflow-hidden cursor-pointer" [item]="item.data"></app-item>

                            </ng-container>
                        </div>
                    </ng-container>
                </ng-template>
            </app-masonry>

        </ng-container>
    </ng-container>

    <ng-container *ngIf="pending">
        <div class="flex flex-auto flex-col items-center justify-center">
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Searching...</div>
        </div>
    </ng-container>


    <ng-container *ngIf="noResult">
        <div class="flex flex-auto flex-col items-center justify-center mt-4">
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No Results found</div>
        </div>
    </ng-container>

    <ng-container *ngIf="!pending && !noResult">
        <div class="flex flex-auto flex-col items-center justify-center mt-4">
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Search Giphy Gif !</div>
        </div>

    </ng-container>

</div>
